.container-fluid {
  background-color: #87b5b5;
}

.header,
textarea {
  box-shadow: 0 0 15px rgba(0, 0, 0, .75);
}

.header {
  background-color: #4aa3a3;
  z-index: 2;
}

.icon:hover {
  color: #57e2b1;
}


textarea {
  background-color: #c0d8d8;
  overflow-x: scroll;
}

textarea:focus {
  outline: none;
}